# For PCBs designed using KiCad: http://www.kicad-kicad.org/

# Temporary files
kicad/*.000
kicad/*.bak
kicad/*.bck
kicad/*.kicad_pcb-bak
kicad/*~
kicad/_autosave-*
kicad/*.tmp

# Netlist files (exported from Eeschema)
kicad/*.net

# Autorouter files (exported from Pcbnew)
kicad/.dsn

# Exported BOM files
kicad/*.xml
kicad/*.csv
